body {
  padding: 0;
  margin: 0;
}

.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #215889;
}

.logIn {
  width: 600px;
  height: 350px;
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logIn input {
  margin: 10px;
  width: 200px;
  height: 40px;
  border: 2px solid black;
  background-color: transparent;
  padding-left: 10px;
  color: rgb(211, 208, 208);
  font-size: 15px;
}

.logIn input:focus {
  outline: none;
}

.logIn button {
  margin-top: 45px;
  width: 200px;
  height: 50px;
  border: none;
  background-color: transparent;
  border: 2px solid black;
  color: rgb(211, 208, 208);
  font-size: 16px;
}

.logIn button:hover {
  cursor: pointer;
  background-color: #1a4b76;
}

.chatContainer {
  width: 600px;
  height: 350px;
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.chatContainer .messages {
  flex: 80%;
  width: 100%;
  padding-left: 20px;
}

.chatContainer .messageInputs {
  display: flex;
  flex-direction: row;
  flex: 20%;
  width: 100%;

}

.chatContainer .messageInputs input {
  flex: 80%;
  height: calc(100%-5px);
  border: none;
  border-top: 5px solid black;
  padding-left: 10px;
  font-size: 18px;
  color: black;
  background-color: whitesmoke;
}

.messageInputs input:focus {
  outline: none;
}

.chatContainer .messageInputs button {
  flex: 20%;
  height: 100%;
  border: none;
  border: 5px solid black;
  border-bottom: none;
  border-right: none;
  color: black;
  background-color: #e2c9ca;
  font-size: 18px;
}

.messageInputs button:hover {
  cursor: pointer;
}

.messageIndividual {
  width: 200px;
  height: 60px;
  border-radius: 10px;
  display: grid;
  place-items: center;
  /* font-size: 15px; */
  background-color: #e2c9ca;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-right: 10px;
  opacity: 0.9;
}

.messageContainer {
  display: flex;
  width: calc(100%-30px);
}

.messageContainer h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 17px;
}

#You {
  justify-content: flex-start;
}

#You .messageIndividual {
  background-color: #81bfb9;
  color: black;

}

#Other {
  justify-content: flex-end;
  padding-right: 20px;
}

#Other .messageIndividual {
  background-color: #d19f99;
  color: black;
}